<h1>Hey, Welcome to the contact page</h1>

<a href="/pages/about">About Us</a>
<a href="/pages/contact">Contact Us</a>

<div>
  <div>
  <%= image_tag("cats.jpeg", alt: "Awesome cats.") %>

</div>
</div>